$bg-color-light: #fff;
$bg-color-dark: #232627;

$font-color-light: #fcfcfc;
$font-color-dark: #333;
$font-color-dark-fade: #888;

$primary-color-light: #0099e6;
$primary-color-dark: #1abc9c;

$secondary-color-light: #1d99f3;
$secondary-color-dark: #1d99f3;

$screen: (xs: 320px, sm: 480px, md: 768px, lg: 920px);
$default-border: 1px solid #ccc;
$font-base: 1.125rem;
$font-sm: 1rem;
$font-tiny: 0.75rem;
$page-padding-h: 10px;
$page-padding-v: 30px;
$page-padding-h-lg: 20px;

@mixin link-color($color, $hover: $color) {
    a {
        &, &:visited, &:active {
            color: $color;
        }

        &:hover {
            color: $hover;
        }
    }
}

@mixin font-color($light-theme: true) {
    @if $light-theme {
        color: $font-color-dark;
    } @else {
        color: $font-color-light;
    }
}

@mixin bg-color($light-theme: true) {
    @if $light-theme {
        background-color: $bg-color-light;
    } @else {
        background-color: $bg-color-dark;
    }
}

@mixin theme-colors($light-theme: true) {
    @include bg-color($light-theme);
    @include font-color($light-theme);
}

@mixin from($key) {
    @media only screen and (min-width: map-get($screen, $key) + 1px) {
        @content
    }
}

@mixin to($key) {
    @media only screen and (max-width: map-get($screen, $key)) {
        @content
    }
}
