html {
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  @include theme-colors();
  min-width: map-get($screen, xs);
  transition: opacity 0.8s ease-out;
  overflow-x: hidden;
}

@include link-color($secondary-color-dark);

img {
  max-width: 100%;
  height: auto;
}

h3, .h3 {
  font-size: 1.17em;
}

h1, h2, h3, h4 {
  color: $primary-color-light;
  margin: 0 0 0.4em;

}

.container {
  max-width: map-get($screen, lg);
  padding: $page-padding-v $page-padding-h;
  margin: 0 auto;
  box-sizing: border-box;

  @include from(sm) {
    padding-left: $page-padding-h-lg;
    padding-right: $page-padding-h-lg;
  }

  .footer & {
    border-top: $default-border;
  }
}

.section {
  .container {
    border-top: $default-border;
  }

  &:first-child {
    .container {
      border-top: none;
    }
  }
}

.me {
  @include from(sm) {
    display: flex;
    align-items: center;
  }
}

.me-head {
  margin: 0 0 20px;

  @include from(sm) {
    flex: 0 0 220px;
    margin: 0;
  }

  @include from(md) {
    flex-basis: 30%;
  }
}

.me-title {
  text-align: center;

  b, em {
    display: block;
  }
}

.me-photo {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  box-shadow: 0 0 10px rgba(#000, 0.6);
  margin: 0 0 20px;

  @include from(sm) {
    border-radius: 50%;
    height: 220px;
  }

  @include to(sm) {
    margin: -30px ($page-padding-h * -1) 15px;
  }

  img {
    position: relative;
    left: 100%;
  }
}

.me-desc {
  flex: 0 1 auto;
  padding: 0 3%;
  font-size: 1.2rem;
  line-height: 1.4em;

  h1 {
    font-size: 1.6rem;
  }

  p {
    margin: 0;
  }
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.me-links {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  @include link-color($font-color-dark, $primary-color-light);

  a {
    flex: 0 0 30px;
    padding: 0 6px;
    line-height: 0;
  }
}