@media print {
    $page-padding-print: 1cm;

    @page {
        size: auto;
        margin: 0;
    }

    body,
    .level-label,
    .work-desc {
        font-size: 12px;
    }

    .levels-list > li.deprecated .level-label {
        font-size: 10px;
    }

    .me {
        display: block;
        overflow: hidden;
        padding: $page-padding-print $page-padding-print 0;
        margin: 0 0 -0.4cm 0;
    }

    .me-head {
        float: left;
        max-width: 25%;
        margin: 0;
    }

    .me-photo {
        box-shadow: none;
        background: none;
        margin: 0 0 10px;

        img {
            display: block;
            position: static;
        }
    }

    .me-desc {
        overflow: hidden;

        h1 {
            font-size: 1.2rem;
        }

        p {
            font-size: 13px;
            line-height: 1.2em;
            margin: 25px 20% 0 0;
        }
    }

    .work-desc {
        margin: 5px 0 0;
    }

    .container {
        max-width: none;
        margin: 0;
        padding: 0;
    }

    .tabs-pane {
        display: block;
        width: 100%;
        position: static;
    }

    .tab {
        margin: 0;
        padding: $page-padding-print $page-padding-print 0;
        page-break-after: always;

        .h3 {
            margin: 0 0 4px;
        }
    }

    .tab-title {
        display: block;
        padding: 0 0 4px;
        margin: -5px 0 12px;
        border-bottom: $default-border;
    }

    .experience {
        overflow: hidden;
    }

    .experience-main {
        float: left;
        width: 72%;
    }

    .experience-aside {
        float: right;
        width: 25%;
    }

    .skill-dl {
        margin: 0 0 8px;

        dt {
            margin: 0 0 5px;
        }
    }

    .work-experience {
        margin: 0 0 25px;

        dd {
            margin: 0 0 15px;
        }

        .time, .location, .div {
            font-size: 11px;
            font-style: italic;
        }
    }

    .level-label {
        flex-basis: 20%;
    }

    .levels-list {
        > li {
            margin: 0 0 4px;
        }
    }

    .footer,
    .tabs-nav,
    .tabs input {
        display: none;
    }
}
