@import "../node_modules/normalize.css/normalize";
@import "base";

$font-sm: 0.9rem;
$page-padding-v: 20px;

@import "common";

.me-photo {
  background-image: url(../assets/portrait.webp);
}

.header {
  background: radial-gradient(#fff, #fff 50%, #ddd);
}

.main .container {
  padding-left: 0;
  padding-right: 0;
}

.tabs {
  position: relative;
  overflow: hidden;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.tab {
  margin: 20px 0 -250px;
  flex: 0 0 50%;
  padding: 0 $page-padding-h;
  box-sizing: border-box;
  transition: margin 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);

  @include from(sm) {
    padding-left: $page-padding-h-lg;
    padding-right: $page-padding-h-lg;
  }
}

.tabs-nav {
  display: flex;
  justify-content: center;
  border-bottom: $default-border;
  margin: 0 ($page-padding-h * -1);

  label {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
  }

  @include from(sm) {
    margin-left: $page-padding-h-lg * -1;
    margin-right: $page-padding-h-lg * -1;
  }
}

.tabs-pane {
  display: flex;
  width: 200%;
  position: relative;
  left: 0;
  transition: left 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@each $tab in 1, 2 {
  .tab-ctrl-#{$tab} {
    &:checked {
      ~ {
        .tabs-nav {
          .tabs-nav-#{$tab} {
            color: $primary-color-light;
            font-weight: bold;
          }
        }

        .tabs-pane {
          left: (100% * ($tab - 1)) * -1;

          .tab--#{$tab} {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.tab-title {
  display: none;
}

.experience-desc {
  margin: 0 0 30px;
}

.experience {
  @include from(md) {
    display: flex;
  }
}

.experience-main {
  margin: 0 0 20px;

  h3 {
    padding: 0 0 6px;
    margin: 0 0 10px;
    color: $primary-color-light;
  }

  @include from(md) {
    flex: 1 1 auto;
    padding: 0 30px 0 0;
    margin: 0;
  }
}

.experience-aside {
  @include from(md) {
    flex: 0 0 25%;
  }
}

.labels-list {
  padding: 0 0 0 18px;
  font-size: $font-sm;

  > li {
    margin: 0 0 4px 0;
  }
}

.certificate {
  line-height: 0;
  display: block;
  width: 30px;
}

.levels-list {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    margin: 0 0 8px;
    display: flex;
    align-items: center;

    &.deprecated {
      opacity: .6;

      .level-label {
        font-size: $font-tiny;
      }
    }
  }
}

.level-label {
  flex: 0 0 32%;
  margin: 0 10px 0 0;
  font-size: $font-sm;

  @include from(sm) {
    flex-basis: 20%;
  }
}

.level-bar {
  border: 3px solid #ddd;
  box-sizing: border-box;
  border-radius: 6px;
  flex: 1 1 auto;

  span {
    display: block;
    box-sizing: border-box;
    border: 3px solid $primary-color-light;
    border-radius: 6px 0 0 6px;
    margin: -3px;
    text-indent: -9999px;
    line-height: 0;

    .deprecated & {
      border-color: $font-color-dark-fade;
    }
  }

  .loading & span {
    width: 0 !important;
  }
}

.skill-dl {
  margin: 0 0 30px;

  dt {
    margin: 0 0 10px;
    font-size: $font-sm;
    font-weight: bold;
  }

  dd {
    margin: 0 0 16px;
  }
}

.work-experience {
  margin: 0 0 40px;

  dd {
    margin: 0 0 20px;
  }

  dt {
    font-weight: bold;
    padding: 10px 0 0;
    border-top: $default-border;

    &:first-child {
      border-top: none;
    }
  }

  .time, .location, .div {
    display: inline-block;
    font-size: $font-sm;
    color: $font-color-dark-fade;
  }

  .div {
    margin: 0 4px;
  }
}

.work-desc {
  font-size: $font-sm;
  padding: 0 70px 0 0;
  margin: 8px 0 0;
  line-height: 1.3em;

  ul {
    margin: 0 0 10px;
    padding: 0 0 0 20px;
  }
}

.company {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .img {
    display: block;
    max-width: 70px;
    margin: -10px 0 0;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.company-name {
  margin: 0 5px 0 0;

  @include  to(md) {
    display: block;
  }
}

.txt-light {
  color: $font-color-dark-fade;
}

.pdf {
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
  width: 30px;
  &, &:visited, &:active {
    color: $font-color-dark-fade;
  }

  &:hover {
    color: $primary-color-light;
  }

  @include from(sm) {
    display: block;
  }

  @include from(md) {
    right: 35px;
    width: 40px;
  }
}

@import "print";
