@import "../node_modules/normalize.css/normalize";
@import "base";
@import "common";
@import "../node_modules/highlight.js/scss/github";

@media (prefers-color-scheme: dark) {
  @import "../node_modules/highlight.js/scss/night-owl";
}

.hljs {
  font-size: $font-sm;
}

body {
  font-size: $font-base;
  line-height: 1.3em;

  @media (prefers-color-scheme: dark) {
    @include theme-colors(false);
    @include link-color($secondary-color-light);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25em;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4 {
    color: $primary-color-dark;
  }
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

.me-photo {
  background-image: url(../assets/portrait_b.webp);
}

.logo {
  display: block;
  text-decoration: none;
  line-height: 0;

  &, &:visited, &:hover {
    color: $font-color-light;
  }
}

.header {
  background-color: $primary-color-light;
  color: $font-color-light;
  @include link-color($font-color-light);
  position: relative;

  .container {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $primary-color-dark;
    color: $font-color-light;
    @include link-color($font-color-light);
  }
}

.header-menu {
  display: flex;

  @include to('sm') {
    flex-direction: row-reverse;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    @include to(sm) {
      &:checked + .nav-list-holder {
        height: 135px;
      }
    }

    @include from(sm) {
      display: none;
    }
  }
}

.nav-list-holder {
  @include to(sm) {
    position: absolute;
    box-sizing: border-box;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height ease-out 0.3s;
  }
}

.nav-toggle {
  display: block;
  width: 28px;
  line-height: 0;
  color: #fff;

  @include from(sm) {
    display: none;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
    display: block;
    padding: 14px 15px;
    text-transform: uppercase;
    border-top: 1px solid rgba(#fff, 0.6);
    font-size: 16px;
    line-height: 1;
    &:hover {
      opacity: 0.6;
    }
  }

  @include to(sm) {
    background-color: $primary-color-light;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media (prefers-color-scheme: dark) {
      background-color: $primary-color-dark;
    }
  }

  @include from(sm) {
    flex-direction: row;

    a {
      padding-top: 6px;
      padding-bottom: 6px;
      margin: 0 0 0 5px;
      border-top: none;
    }

    > li {
      &.current a {
        border-bottom: 3px solid #fff;
      }
    }
  }
}

.articles {
  p {
    margin: 0;
  }

  > li {
    margin-top: 20px;

    &:first-child {
      margin: 0;
    }
  }

  time {
    font-size: $font-sm;
  }
}

.footer-inner {
  @include to(sm) {
    display: block;
  }
}

.copyright {
  display: block;
  font-size: $font-sm;

  @include to(sm) {
    margin: 15px 0 0;
  }
}

.me-links {
  @media (prefers-color-scheme: dark) {
    @include link-color($font-color-light, $primary-color-dark);
  }
}