mixin articles-list
  h3 Posts
  ul.articles
    each article in articles()
      li
        time(datetime=toIsoDate(article.date))= toLocaleDate(article.date)
        h4
          a(href=article.uri)= article.title
        p= article.description

mixin intro(isCV=false)
  .me
    .me-head
      .me-photo
        img(alt="Roman Langolf")&attributes(imageAttributes(isCV ? "portrait.webp" : "portrait_b.webp"))
      if isCV
        .me-title
          b Roman Langolf
          em Software Engineer

    .me-desc
      if !isCV
        h1 Hi, I'm Roman!
        p.
          A professional software developer who is interested in functional programming
          and just enjoys building things. Some more content may arrive soon.
      else
        p.
          A passionate Software Engineer, since I acquired
          my first programming language book in 2007.<br>
          I enjoy developing solutions preferably by discovering ways of abstraction and
          building efficient, reliable, and maintainable software,
          while I'm continually learning and evolving.