extends layout/blog
include _mixins

block page-vars
  - currentPage = navItems['blog']
  - pageTitle = 'Blog articles - Roman Langolf'
  - pageDescription = ''

block content
  .container
    +articles-list