extends layout/default
include _mixins

block page-vars
  - currentPage = navItems['cv']
  - cssFile = 'cv'
  - pageTitle = 'Roman Langolf'
  - pageDescription = "A passionate Software Engineer, since I acquired my first programming language book in 2007."

block header-inner
  +intro(true)

block content
  .container
    .tabs
      input.tab-ctrl-1#work_experience(type="radio", name="_", checked=true)
      input.tab-ctrl-2#skills(type="radio", name="_")
      .tabs-nav
        label.tabs-nav-1(for="work_experience") Résumé
        label.tabs-nav-2(for="skills") Skills
      .tabs-pane
        .tab.tab--1
          h2.tab-title Résumé
          h4.h3 Work experience
          dl.work-experience
            each work in data().workExperience
              dt= work.position
              dd
                .company
                  span
                    span.company-name= work.company
                    span.time #{work.from}&ndash;#{work.to}
                    span.div |
                    span.location= work.location
                  span.img
                    if work.logo.endsWith('.svg')
                      | !{readAsset(work.logo)}
                    else
                      img(alt=work.company)&attributes(imageAttributes(work.logo, true))
                .work-desc!= work.desc
          h4.h3 Education
          dl.work-experience
            each ed in data().education
              dt= ed.title
              dd
                div
                  span.time #{ed.from}&ndash;#{ed.to}
                  span.div |
                  span.location= ed.location
                .work-desc!= ed.desc

        .tab.tab--2
          h2.tab-title Skills
          .experience
            .experience-main
              each skillGrp in data().skillGroups
                h4.h3= skillGrp.name
                dl.skill-dl
                  each subGrp in skillGrp.subGroups
                    dt= subGrp.name
                    dd
                      ul.levels-list
                        each item in subGrp.items
                          li(class=(item.deprecated ? 'deprecated' : null))
                            span.level-label= item.label
                            .level-bar
                              span(style="width:" + item.level)= item.level
              small.txt-light grayed out = not using any more

            .experience-aside
              each tech in data().techniques
                h4.h3= tech.name
                ul.labels-list
                  each label in tech.labels
                    li= label

block footer-inner
  a.certificate(href="https://u.magento.com/certification/directory/dev/61909/", target="_blank", title="Certified Magento Frontend Developer")
    img(alt="")&attributes(imageAttributes('certificate.webp', true))

block footer-after
  a.pdf(href=assetSrc("roman_langolf_cv.pdf"), target="_blank", title="View as PDF")!= readSvg('file-pdf')
