extends layout/blog
include _mixins

block page-vars
  - currentPage = navItems['home']
  - pageTitle = 'Homepage - Roman Langolf'
  - pageDescription = ''

block content
  section.section
    .container
      +intro(false)
  section.section
    .container
      +articles-list
