extends ../../../../layout/blog

block page-vars
  - currentPage = navItems['blog']
  - pageTitle = articleTitle
  - pageDescription = articleDescription
  - baseUri = articleBaseUri

block content
  .container
    article !{parseArticleMd('hello-world.md')}