-
  var navItems = {
    home: {label: 'Home', path: '/'},
    blog: {label: 'Blog', path: '/blog.html'},
    cv: {label: 'CV', path: '/cv.html', target: '_blank'}
  }
block page-vars
block layout-vars
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content=pageDescription)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if baseUri
      base(href=baseUri)
    style!= readCss(cssFile)
    | !{faviconsHtml()}
    title= pageTitle
    block head-after
  body
    header.header
      .container
        block header-inner
    main.main
      block content
    footer.footer
      .container
        include footer
        block footer-after
    block body-after