a.logo(href="/", title='Roman Langolf') Roman Langolf

.header-menu
  nav.nav
    label.nav-toggle(for="nav-toggle")!= readSvg('bars-solid')
    input#nav-toggle(type='checkbox', checked=false, name='toggle')
    .nav-list-holder
      ul.nav-list
          each item in navItems
            li(class=item === currentPage ? 'current' : null)
              a(href=item.path ? item.path : '/', target=item.target ? item.target : null)= item.label

